<h1>Bienvenue, <%= username %></h1>
<p>Accès rapide :</p>
<ul>
  <li><a href="/defis">Voir les défis</a></li>
  <li><a href="/editor">Éditeur de code</a></li>
  <li><a href="/logout">Se déconnecter</a></li>
</ul>
