<h1>Éditeur de code</h1>
<form method="POST" action="/editor">
  <textarea name="code" rows="12" cols="80"><%= code %></textarea><br>
  <button type="submit">Exécuter</button>
</form>
<p><strong>Code soumis :</strong></p>
<pre><%= code %></pre>
