<h1>Créer un compte</h1>
<form method="POST" action="/register">
  <label>Nom d'utilisateur :</label><br>
  <input type="text" name="username" required><br>
  <label>Mot de passe :</label><br>
  <input type="password" name="password" required><br><br>
  <button type="submit">S'inscrire</button>
</form>
<% if (message) { %><p style="color:red"><%= message %></p><% } %>
<a href="/login">Retour à la connexion</a>
